{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <script src="{% static 'ie-emulation-modes-warning.js' %}"></script>

    {% block head %}

    {% endblock %}

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'home' %}" class="navbar-brand" href="#">Abra</a>
            <a href="{% url 'blockbuster' %}" class="navbar-blockbuster" href="#">Blockbuster</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="nav navbar-right">
                {% block navbar %}

                {% endblock %}
            </div>
            <form class="navbar-form navbar-left" method="post" action="{% url 'search' %}">
                {% csrf_token %}
                <input type="text" class="form-control" placeholder="Search..." name="keyword">
                <button type="submit" class="btn btn-sm btn-search">
                    <span class="glyphicon glyphicon-search icon-search" aria-hidden="true"></span>
                </button>
            </form>
        </div>
    </div>
</nav>

{% block content %}

{% endblock %}

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="nav-bottom-words">Terms</a></li>
            <li><a href="#" class="nav-bottom-words">Help</a></li>
            <li><a href="#" class="nav-bottom-words">Contact us</a></li>
        </ul>
        <form class="navbar-form navbar-left">
            <a href="#" class="nav-bottom-words">About Abra</a>
        </form>
    </div>
</nav>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'jquery.min.js' %}"><\/script>')</script>
<script src="{% static 'bootstrap.min.js' %}"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="{% static 'holder.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>
