{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <title>{{ title }}</title>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">

{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <div>
                <a href="{% url 'profile' user.id %}">
                    <img src="{% static 'images/user_image.jpg' %}" class="img-circle" alt="personal icon"
                         width="40" height="40">
                </a>
            </div>
        </li>
        <li>
            <a type="button" class="btn btn-default btn-md btn-icon-left" href="{% url 'home' %}">
                <span class="glyphicon nav-glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a type="button" class="btn btn-default btn-md btn-icon-right" href="{% url 'userlogout' %}">
                <span class="glyphicon nav-glyphicon glyphicon-log-out" aria-hidden="true"></span>
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div role="tabpanel" class="tab-pane fade in active" id="randomMovieList">
        {% load static %}
        {% static "" as baseUrl %}
        {% for movie in movie_list %}
            <div class="col-sm-6 col-md-4 col-lg-3 col movie-item">
                <div class="movie-poster-div">
                    <a href="{% url 'label' movie.movielens_id %}">
                        <img src="{{ baseUrl }}/posters/{{ movie.movielens_id }}.jpg"
                             alt="Mountain View"
                             name="movie-poster"
                             class="resize img-responsive centerBlock">
                    </a>
                </div>
                <div class="movie-title" id="title1682">{{ movie.title }}</div>
            </div>
        {% endfor %}
        <div id="wrap"></div>
        <br>
    </div>

    <script type="text/javascript">
        (function () {
            console.log("enter resize");
            var max_height = 300;
            var max_width = 200;
            var imgs = document.getElementsByName('movie-poster');
            for (var i = 0; i < imgs.length; i++) {
                if (imgs[i].height <= 300) {
                    var height = (imgs[i].height / imgs[i].width) * max_width;
                    console.log("height resize with 200px width: ");
                    console.log(height);
                    imgs[i].height = height;
                    imgs[i].width = max_width;
                    imgs[i].style.marginTop = ((max_height - height) / 2).toString() + 'px';
                    imgs[i].style.marginBottom = (10 + ((max_height - height) / 2)).toString() + 'px';
                } else {
                    var width = (imgs[i].width / imgs[i].height) * max_height;
                    if (width > 200) {
                        console.log("200:300")
                        imgs[i].height = max_height;
                        imgs[i].width = max_width;
                        imgs[i].style.marginBottom = '10px';
                    } else {
                        console.log("width resize with 300px height: ");
                        console.log(width);
                        imgs[i].height = max_height;
                        imgs[i].width = width;
                        imgs[i].style.marginLeft = ((max_width - width) / 2).toString() + 'px';
                        imgs[i].style.marginBottom = '10px';
                    }
                }
            }
        }());
    </script>
{% endblock %}

