{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <title>{{ title }}</title>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">

{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <div>
                <a href="{% url 'profile' user.id %}">
                    <img src="{% static 'images/user_image.jpg' %}" class="img-circle" alt="personal icon"
                         width="40" height="40">
                </a>
            </div>
        </li>
        <li>
            <a type="button" class="btn btn-default btn-md btn-icon-left" href="{% url 'home' %}">
                <span class="glyphicon nav-glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a type="button" class="btn btn-default btn-md btn-icon-right" href="{% url 'userlogout' %}">
                <span class="glyphicon nav-glyphicon glyphicon-log-out" aria-hidden="true"></span>
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div role="tabpanel" class="tab-pane fade in active" id="randomMovieList">

        {% load static %}
        {% static "" as baseUrl %}
        {% for movie in movie_list%}
            <div class="col-sm-6 col-md-4 col-lg-3 col movie-item">
                <a href="{% url 'label' movie.movielens_id %}">
                    <img src="{{baseUrl}}/posters/{{ movie.movielens_id }}.jpg"
                         style="height: 206px; width: 144px" alt="Mountain View"
                         class="noresize img-responsive centerBlock">
                </a>
                <div class="movie-title" id="title1682">{{ movie.title }}</div>
            </div>
        {% endfor %}
        <div id="wrap"></div>
        <br>
    </div>
{% endblock %}
