{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <title>{{ title }}</title>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">

{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a type="button" class="btn btn-default btn-md btn-icon-left" href="{% url 'profile' user.id %}">
                <span class="glyphicon nav-glyphicon glyphicon-user" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a type="button" class="btn btn-default btn-md btn-icon-left" href="{% url 'home' %}">
                <span class="glyphicon nav-glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a type="button" class="btn btn-default btn-md btn-icon-right" href="{% url 'userlogout' %}">
                <span class="glyphicon nav-glyphicon glyphicon-log-out" aria-hidden="true"></span>
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div role="tabpanel" class="tab-pane fade in active" id="randomMovieList">
{#         <div class="col-sm-6 col-md-4 col-lg-3 col movie-item">#}
{#            <div class="movie-poster-div">#}
{#                <a>#}
{#                    <img src="{% static 'images/88129.jpg' %}"#}
{#                         alt="Mountain View"#}
{#                         class="resize img-responsive centerBlock">#}
{#                </a>#}
{#            </div>#}
{#            <div class="movie-title" id="title1682">Sample Resize Movie</div>#}
{#        </div>#}
        {% if notice %}
            <div class="alert alert-info">
                {{ notice }}
            </div>
        {% endif %}
        {% load static %}
        {% for movie in movie_list %}
            <div class="col-sm-6 col-md-4 col-lg-3 col movie-item">
                <div class="movie-poster-div">
                    {% with id=movie.movielens_id|stringformat:"i" %}
                        <a href="{% url 'label' movie.id %}">
                            <img src="

                                    {% with 'posters/'|add:id|add:'.jpg' as image_static %}{% static image_static %}{% endwith %}"
                                 alt="Mountain View"
                                 name="movie-poster"
                                 class="resize img-responsive centerBlock">
                        </a>
                    {% endwith %}
                </div>
                <div class="movie-title" id="title1682">{{ movie.title }} ({{ movie.year }})</div>
            </div>
        {% empty %}
            <h3>
            {{ empty_msg }}
            </h3>
        {% endfor %}
        <div id="wrap"></div>
        <br>
    </div>
{% endblock %}

