{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}

    <title>Profile Page</title>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover({
                placement : 'right',
                container: 'body',
                trigger : 'hover'
            });
        });
    </script>

{% endblock %}

{% block navbar %}

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a type="button" href="{% url 'home' %}" class="btn btn-default btn-md btn-icon-left"><span
                    class="glyphicon glyphicon-home nav-glyphicon" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a type="button" class="btn btn-default btn-md btn-icon-right" href="{% url 'userlogout' %}"><span
                    class="glyphicon glyphicon-log-out nav-glyphicon" aria-hidden="true"></span>
            </a>
        </li>
    </ul>

{% endblock %}

{% block content %}

    <div class="main">
        <!-- User profile -->
        <div class="well profile-container col-md-3">
            <div class="profile-image">
                <img src="{% static 'images/user_image.jpg' %}" class="img-rounded" alt="personal icon" width="120"
                     height="120">
            </div>
            <div class="profile-username">
                <label>{{ current_user.username }}</label>
            </div>
            {% load mathfilters %}
            <div class="profile-content">
                <ul class="profile-metrics-list" style="list-style: none;">
                    <li class="profile-level"
                        data-toggle="popover"
                        title="Just {{ dist_next_level }} Movies away to next Level"
                        data-content="Congratulations!
                        You submitted more labels than {{ 100|sub:top_percent }}% users : )">
                        <label>Level - {{ num_level }}</label>
                        <img class="profile-badge glyphicon {{ badge_level }}" src="">
                    </li>
                    <br>
                    <li>
                        <label>Labels: {{ num_labels }}</label>
                    </li>
                    <li>
                        <label>Movies: {{ num_movies }}</label>
                    </li>
                </ul>
            </div>
        </div>
        <!-- User finished and unfinished work -->
        <div class="col-md-9 movies-container">
            <div class="unfinished-container">
                <h4>Continue with These Movies: </h4>
                <div class="horizontal-movie-list">
                    {% load static %}
                    {% for movie in voting_movies %}
                        <div class="movie-item">
                            <div class="movie-poster-div">
                            {% with id=movie.movielens_id|stringformat:"i" %}
                                <a href="{% url 'label' movie.id %}">
                                    <img src="

                                            {% with 'posters/'|add:id|add:'.jpg' as image_static %}{% static image_static %}{% endwith %}"
                                         alt="Mountain View"
                                         name="movie-poster"
                                         class="resize img-responsive centerBlock">
                                </a>
                            {% endwith %}
                            </div>
                            <div class="movie-title" id="title1682">{{ movie.title }} ({{ movie.year }})</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="finished-container">
                <h4>Recently Completed: </h4>
                <div class="horizontal-movie-list">
                    {% load static %}
                    {% for movie in finished_movies %}
                        <div class="movie-item">
                            <div class="movie-poster-div">
                            {% with id=movie.movielens_id|stringformat:"i" %}
                                <a href="{% url 'label' movie.id %}">
                                    <img src="

                                            {% with 'posters/'|add:id|add:'.jpg' as image_static %}{% static image_static %}{% endwith %}"
                                         alt="Mountain View"
                                         name="movie-poster"
                                         class="resize img-responsive centerBlock">
                                </a>
                            {% endwith %}
                            </div>
                            <div class="movie-title" id="title1682">{{ movie.title }} ({{ movie.year }})</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div> <!-- /container -->

{% endblock %}
