{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}

    <title>Just one step away</title>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/register.css' %}" rel="stylesheet">

{% endblock %}

{% block navbar %}

    <a class="btn btn-md btn-return-login" href="{% url 'userlogin' %}">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    </a>

{% endblock %}

{% block content %}

    <div class="register-container">
        <form class="form-horizontal" method="post" action="{% url 'register' %}">
            {% csrf_token %}

            <h2 class="reg-welcome"> Welcome to Abra</h2>

            {% for error in errors %}
                <div class="col-sm-7 col-sm-offset-3">
                    <p>{{ error }}</p>
                </div>
            {% endfor %}

            <div class="form-group form-element">
                <label for="username" class="col-sm-3 control-label">*Username</label>
                <div class="col-sm-7">
                    <input type="text" id="username" name="username" value="{{ username }}" placeholder="Username"
                           class="form-control" autofocus required>
                </div>
            </div>
            <div class="form-group form-element">
                <label for="password" class="col-sm-3 control-label">*Password</label>
                <div class="col-sm-7">
                    <input type="password" id="password" name="password" value="{{ password }}"
                           placeholder="Password" class="form-control" required>
                </div>
            </div>
            <div class="form-group form-element">
                <label for="password" class="col-sm-3 control-label">*Confirm Password</label>
                <div class="col-sm-7">
                    <input type="password" id="confirm_password" name="confirm_password"
                           value="{{ confirm_password }}" placeholder="Password" class="form-control" required>
                </div>
            </div>
            <div class="form-group form-element">
                <label for="gender" class="col-sm-3 control-label optional-label">Gender</label>
                <div class="col-sm-7">
                    <select name="gender" value="{{ gender }}" class="form-control">
                        <option value="">Select gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-element">
                <label for="age" class="col-sm-3 control-label optional-label">Age</label>
                <div class="col-sm-7">
                    <input type="number" name="age" min="5" max="110" value="{{ age }}"
                           placeholder="5 - 110" class="form-control">
                </div>
            </div>
            <div class="form-group form-element">
                <label for="education" class="col-sm-3 control-label optional-label">Education Level</label>
                <div class="col-sm-7">
                    <select name="education" value="{{ education }}" class="form-control">
                        <option value="">Select education level</option>
                        <option value="low">Less than a high school diploma</option>
                        <option value="high">High school degree or equivalent (e.g. GED)</option>
                        <option value="college">Bachelor’s or Associate degree</option>
                        <option value="master">Master’s degree (e.g. MA, MS, MEd)</option>
                        <option value="phd">Doctorate (e.g. PhD, EdD) and higher</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-element">
                <label for="employment" class="col-sm-3 control-label optional-label">Employment</label>
                <div class="col-sm-7">
                    <select name="employment" value="{{ employment }}" class="form-control">
                        <option value="">Select employment</option>
                        <option value="student">Student</option>
                        <option value="self">Self-employed</option>
                        <option value="homemaker">Homemaker</option>
                        <option value="employed">Employed</option>
                        <option value="unemployed">Unemployed</option>
                        <option value="retired">Retired</option>
                        <option value="unable">Unable to work</option>
                    </select>
                </div>
            </div>

            <div class="form-group form-element">
                <label for="security-question" class="col-sm-3 control-label optional-label">*Security Question</label>
                <div class="col-sm-7">
                    <select name="security-question" class="form-control" required>
                        <option value="">Select a question</option>
                        <option value="What was your childhood nickname?">What was your childhood nickname?</option>
                        <option value="What is the name of your favorite childhood friend?">What is the name of your favorite childhood friend?</option>
                        <option value="What is your favorite movie?">What is your favorite movie?</option>
                        <option value="What was your favorite sport in high school?">What was your favorite sport in high school?</option>
                        <option value="What school did you attend for sixth grade?">What school did you attend for sixth grade?</option>
                        <option value="In what town was your first job?">In what town was your first job?</option>
                        <option value="What was the name of the company where you had your first job?">What was the name of the company where you had your first job?</option>
                    </select>
                </div>
            </div>

            <div class="form-group form-element">
                <label for="security-answer" class="col-sm-3 control-label">*Security Answer</label>
                <div class="col-sm-7">
                    <input id="security-answer" name="security-answer"
                           placeholder="Answer" class="form-control" required>
                </div>
            </div>

            <div class="checkbox">
                <label>
                    <input id="consent" name="consent" type="checkbox" value="1" required> *I accept the
                    <a class="terms" data-toggle="modal" data-target="#consentModal">privacy statement</a>
                </label>
            </div>

            <h class="col-sm-4 control-label">* Required fields</h>
            <br>

            <div class="form-group form-element reg-btn-div">
                <div class="col-sm-7 col-sm-offset-3">
                    <button type="submit" class="btn btn-register">Register</button>
                </div>
            </div>
        </form> <!-- /form -->
    </div>

    <!-- Modal -->
    <div id="consentModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Privacy Terms</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The purpose of this experiment is to collect user opinions to determine the effectiveness and efficiency of various similarity algorithms over movies. This experiment will not "test" you or your ability to select similar movies. Instead, our aim is to evaluate the algorithms with respect to human judgment. Your identity information will not be recorded by participating in this experiment. Please be advised that there is no risk associated with participation in this study.
                        <br>If you read and fully understood the extent of the study and any risks involved, tick the checkbox "I agree". Your action acknowledges your understanding of the information provided in this form and indicates your willingness to participate in this experiment.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

{% endblock %}