{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}

    <title>Reset password</title>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/register.css' %}" rel="stylesheet">

{% endblock %}

{% block navbar %}

    <a class="btn btn-md btn-return-login" href="{% url 'userlogin' %}">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    </a>

{% endblock %}

{% block content %}

    <div class="register-container">
        <form class="form-horizontal" method="post" action="{% url 'resetpwd' %}">
            {% csrf_token %}

            {% for error in errors %}
                <div class="col-sm-7 col-sm-offset-3">
                    <p>{{ error }}</p>
                </div>
            {% endfor %}

            <div class="form-group form-element">
                <label for="username" class="col-sm-3 control-label">*Username</label>
                <div class="col-sm-7">
                    <input type="text" id="username" name="username" value="{{ username }}" placeholder="Username"
                           class="form-control" autofocus required>
                </div>
            </div>

            <div class="form-group form-element">
                <label for="security-question" class="col-sm-3 control-label optional-label">*Security Question</label>
                <div class="col-sm-7">
                    <select name="security-question" class="form-control" required>
                        <option value="">Select a question</option>
                        <option value="What was your childhood nickname?">What was your childhood nickname?</option>
                        <option value="What is the name of your favorite childhood friend?">What is the name of your favorite childhood friend?</option>
                        <option value="What is your favorite movie?">What is your favorite movie?</option>
                        <option value="What was your favorite sport in high school?">What was your favorite sport in high school?</option>
                        <option value="What school did you attend for sixth grade?">What school did you attend for sixth grade?</option>
                        <option value="In what town was your first job?">In what town was your first job?</option>
                        <option value="What was the name of the company where you had your first job?">What was the name of the company where you had your first job?</option>
                    </select>
                </div>
            </div>

            <div class="form-group form-element">
                <label for="security-answer" class="col-sm-3 control-label">*Security Answer</label>
                <div class="col-sm-7">
                    <input id="security-answer" name="security-answer"
                           placeholder="Answer" class="form-control" required>
                </div>
            </div>

            <h class="col-sm-4 control-label">* Required fields</h>
            <br>

            <div class="form-group form-element reg-btn-div">
                <div class="col-sm-7 col-sm-offset-3">
                    <button type="submit" class="btn btn-register">Reset Password</button>
                </div>
            </div>
        </form> <!-- /form -->
    </div>


{% endblock %}