body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
    /*background-image:url(../images/background.jpg);*/
    background-size: cover;
    height: auto;
    opacity: 0.92;
}

button:hover {
    cursor: hand;
}

.navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.navbar {
    min-height: 20px !important
}

.profile-container {
    opacity: 0.95;
}

.label-info {
    width: 70%;
    text-align: center;
    color: rgba(90, 89, 89, 0.97);
    position: relative;
    margin-top: 20px;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
}

#label-progress {
    color: black;
}

.nav-progress {
    float: left;
    width: 100px;
}

/* Hide for mobile, show later */

@media (min-width: 992px) {
    .sidebar {
        position: fixed;
        height: 100%;
        padding-top: 50px;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }

    .similar-main {
        padding-top: 30px;
        padding-right: 10px;
    }

    .btn-show {
        display: none;
    }

    .movie-info {
        position: absolute;
        z-index: 1;
        margin-top: 260px;
        margin-right: 10px;
        display: block;
        max-height: 300px;
        overflow-y: scroll;
    }
}

@media (max-width: 992px) {
    .sidebar {
        display: block;
        padding-top: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
    }

    .similar-main {
        padding-top: 370px;
        text-align: center;
    }

    .movie-info {
        position: absolute;
        z-index: 1;
        margin-top: 260px;
        margin-right: 10px;
        display: block;
        max-height: 120px;
        overflow-y: auto;
    }
}

.btn-show {
    top: 160px;
}

a.popoverData {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.movie-line {
    line-height: 1em;
    height: 1.2em;
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
}

.movie-poster {
    position: absolute;
    z-index: 1;
    margin-top: 20px;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
}

.movie-item {
    margin-top: 40px;
    height: 286px;
}

.label-instruction {
    text-align: center;
    font-size: 22px;
}

.similar-title {
    height: 45px;
    text-align: center;
    font-size: 1.15em;
    object-fit: contain;
    position: relative;
    vertical-align: top;
}

.movie-title {
    line-height: 1em;
    height: 1.2em;
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
}

.label-bar {
    width: 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 5px;
}

.btn-skip {
    padding-left: 20px;
    padding-right: 20px;
}

.img-circle {
    margin-top: 10%;
    margin-right: 10px;
}

.btn-icon-left {
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 10%;
    margin-right: 2px;
}

.btn-icon-mid {
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 10%;
    margin-right: 6px;
}

.btn-icon-right {
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 6%;
    margin-right: 30px;
}

.nav-glyphicon {
    color: white;
    font-size: 2em;
}

.glyphicon-arrow-left {
    font-size: 1.8em !important;
}

#movie-info-list {
    margin-bottom: 70px;
}

.btn-glow {
    background: #fed431;
}

.movie-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    margin-top: 40px;
    margin-bottom: 30px;
}

.movie-overlay-show {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    margin-top: 40px;
    margin-bottom: 30px;
}

.movie-container:hover .movie-overlay {
    opacity: 1;
}

.movie-hover-text {
    background-color: #ffffff;
    height: 216px;
    width: 156px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    vertical-align: middle;
    font-size: 12px;
}

.helper-container {
    position: absolute;
    height: 216px;
    width: 156px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

#container-progress {
    margin-top: 11px;
    margin-left: 10px;
    width: 300px;
}

.label-progress{
    height: 31px;
}

.label-progress-content{
    font-size: 1.3em;
    padding-top: 4px;
    color: white !important;
}

.mask-holder {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.6);
    text-align: center;
    display: none;
}

.mask-content {
    display: inline-block;
    margin-top: 10%;
}

@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

.congrats {
    position: absolute;
    top: 140px;
    width: 550px;
    height: 500px;
    padding: 20px 10px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.btn-mask-next {
    position: absolute;
    text-align: center;
    left: calc(50% - 100px);
    top: 50%;
    width: 200px;
    height: 70px;
    font-size: 2.5em;
    background-color: #fed431;
    border: none;
}

.btn-mask-next:hover {
    background-color: #fec313;
}

.congrats-title {
    transform-origin: 50% 50%;
    font-size: 50px;
    font-family: 'Sigmar One', cursive;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 7em;
}

.blob {
    height: 50px;
    width: 50px;
    color: #ffcc00;
    background-color: #ffcc00;
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 1;
    font-size: 30px;
    display: none;
}

.animation-target {
    -webkit-animation: animation 1000ms linear both;
    animation: animation 1000ms linear both;
}

/* Generated with Bounce.js. Edit at https://goo.gl/MZOEJZ */

@-webkit-keyframes animation {
    0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    3.4% {
        -webkit-transform: matrix3d(1.043, 0, 0, 0, 0, 1.115, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.043, 0, 0, 0, 0, 1.115, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.3% {
        -webkit-transform: matrix3d(1.046, 0, 0, 0, 0, 1.144, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.046, 0, 0, 0, 0, 1.144, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
        -webkit-transform: matrix3d(1.046, 0, 0, 0, 0, 1.154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.046, 0, 0, 0, 0, 1.154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    6.81% {
        -webkit-transform: matrix3d(1.037, 0, 0, 0, 0, 1.183, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.037, 0, 0, 0, 0, 1.183, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    8.61% {
        -webkit-transform: matrix3d(1.02, 0, 0, 0, 0, 1.176, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.02, 0, 0, 0, 0, 1.176, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
        -webkit-transform: matrix3d(1.013, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.013, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    10.21% {
        -webkit-transform: matrix3d(1.006, 0, 0, 0, 0, 1.154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.006, 0, 0, 0, 0, 1.154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    12.91% {
        -webkit-transform: matrix3d(0.992, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.992, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    13.61% {
        -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.991, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
        -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 1.079, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.991, 0, 0, 0, 0, 1.079, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    17.22% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    17.52% {
        -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.001, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
        -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.007, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    21.32% {
        -webkit-transform: matrix3d(1.017, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.017, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
        -webkit-transform: matrix3d(1.022, 0, 0, 0, 0, 0.932, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.022, 0, 0, 0, 0, 0.932, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    25.23% {
        -webkit-transform: matrix3d(1.022, 0, 0, 0, 0, 0.928, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.022, 0, 0, 0, 0, 0.928, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    28.33% {
        -webkit-transform: matrix3d(1.016, 0, 0, 0, 0, 0.929, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.016, 0, 0, 0, 0, 0.929, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.03% {
        -webkit-transform: matrix3d(1.014, 0, 0, 0, 0, 0.933, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.014, 0, 0, 0, 0, 0.933, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
        -webkit-transform: matrix3d(1.011, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.011, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
        -webkit-transform: matrix3d(0.994, 0, 0, 0, 0, 0.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.994, 0, 0, 0, 0, 0.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    36.74% {
        -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.991, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    39.44% {
        -webkit-transform: matrix3d(0.987, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.987, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
        -webkit-transform: matrix3d(0.986, 0, 0, 0, 0, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.986, 0, 0, 0, 0, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    44.44% {
        -webkit-transform: matrix3d(0.987, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.987, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
        -webkit-transform: matrix3d(0.996, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.996, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    59.86% {
        -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    61.66% {
        -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    63.26% {
        -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.003, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    75.28% {
        -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    83.98% {
        -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85.49% {
        -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    90.69% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

@keyframes animation {
    0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    3.4% {
        -webkit-transform: matrix3d(1.043, 0, 0, 0, 0, 1.115, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.043, 0, 0, 0, 0, 1.115, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.3% {
        -webkit-transform: matrix3d(1.046, 0, 0, 0, 0, 1.144, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.046, 0, 0, 0, 0, 1.144, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
        -webkit-transform: matrix3d(1.046, 0, 0, 0, 0, 1.154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.046, 0, 0, 0, 0, 1.154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    6.81% {
        -webkit-transform: matrix3d(1.037, 0, 0, 0, 0, 1.183, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.037, 0, 0, 0, 0, 1.183, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    8.61% {
        -webkit-transform: matrix3d(1.02, 0, 0, 0, 0, 1.176, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.02, 0, 0, 0, 0, 1.176, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
        -webkit-transform: matrix3d(1.013, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.013, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    10.21% {
        -webkit-transform: matrix3d(1.006, 0, 0, 0, 0, 1.154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.006, 0, 0, 0, 0, 1.154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    12.91% {
        -webkit-transform: matrix3d(0.992, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.992, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    13.61% {
        -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.991, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
        -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 1.079, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.991, 0, 0, 0, 0, 1.079, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    17.22% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    17.52% {
        -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.001, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
        -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.007, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    21.32% {
        -webkit-transform: matrix3d(1.017, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.017, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
        -webkit-transform: matrix3d(1.022, 0, 0, 0, 0, 0.932, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.022, 0, 0, 0, 0, 0.932, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    25.23% {
        -webkit-transform: matrix3d(1.022, 0, 0, 0, 0, 0.928, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.022, 0, 0, 0, 0, 0.928, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    28.33% {
        -webkit-transform: matrix3d(1.016, 0, 0, 0, 0, 0.929, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.016, 0, 0, 0, 0, 0.929, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.03% {
        -webkit-transform: matrix3d(1.014, 0, 0, 0, 0, 0.933, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.014, 0, 0, 0, 0, 0.933, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
        -webkit-transform: matrix3d(1.011, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.011, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
        -webkit-transform: matrix3d(0.994, 0, 0, 0, 0, 0.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.994, 0, 0, 0, 0, 0.985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    36.74% {
        -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.991, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    39.44% {
        -webkit-transform: matrix3d(0.987, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.987, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
        -webkit-transform: matrix3d(0.986, 0, 0, 0, 0, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.986, 0, 0, 0, 0, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    44.44% {
        -webkit-transform: matrix3d(0.987, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.987, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
        -webkit-transform: matrix3d(0.996, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.996, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    59.86% {
        -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    61.66% {
        -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    63.26% {
        -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.003, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    75.28% {
        -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    83.98% {
        -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85.49% {
        -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    90.69% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}



