body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  /*background-image:url(../images/background.jpg);*/
  background-size: cover;
  height:auto;
  opacity:0.92;
}

.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:20px !important}

.profile-container{
  opacity:0.95;
  overflow-y: hidden;
}

.movies-container{
  padding-left: 10px !important;
  height: inherit !important;
}

.profile-image{
  position:absolute;
  z-index:1;
  top:80px !important;
  left:50% !important;
  transform:translate(-50%,0) !important;
}

.profile-username{
  position:absolute;
  z-index:1;
  top:218px;
  left:50%;
  transform:translate(-50%,0);
}

.profile-content{
  position:absolute;
  z-index:1;
  top:270px;
  left:50%;
  transform:translate(-50%,0);
}

.unfinished-container{
  position: relative;
  margin-top: 20px;
  height: 50%;
  min-height: 300px;
  z-index:1;
  width: 100%;
  white-space: nowrap;
}

.horizontal-movie-list{
  margin-top: 10px;
  min-height: 260px;
  z-index:1;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.finished-container{
  position: relative;
  top: 50%;
  min-height: 300px;
  z-index:1;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.movie-item {
    width: 200px;
    height: 280px;
    position: relative;
    display: inline-block;
}

.movie-title {
    text-align: center;
    position: relative;
    display: grid;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}

.movie-poster-div {
    max-width: 100%;
    max-height: 85%;
    position: inherit;
    width: 100%;
    height: 80%;
    display: inline-block;
}

.movie-poster-div>img{
    vertical-align: middle;
}

.centerBlock {
    max-height: 210px !important;
    max-width: 200px !important;
    margin-bottom: 10px;
    text-align: center;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.img-circle{
  margin-top:10%;
  margin-right:10px;
}

.btn-icon-left{
  background-color:transparent;
  border:none;
  outline:none;
  margin-top:10%;
  margin-right:2px;
}

.btn-icon-mid{
  background-color:transparent;
  border:none;
  outline:none;
  margin-top:10%;
  margin-right:6px;
}

.btn-icon-right{
  background-color:transparent;
  border:none;
  outline:none;
  margin-top:6%;
  margin-right:30px;
}

.nav-glyphicon{
  color:white;
  font-size:2em;
}

log.container{
   background-image:url("https://static.pexels.com/photos/26135/pexels-photo-26135.jpg");
}

.profile-metrics-list{
    list-style: none;
}

.profile-level {
    color: rgba(26, 112, 185, 0.9);
    font-size: 1.1em;
}

.profile-badge {
    margin-left: 5px;
    color: #ffbd03;
}