certifi==2017.7.27.1
chardet==3.0.4
csvfilter==0.3.1
cycler==0.10.0
dask==0.15.3
decorator==4.1.2
Django==1.11.5
django-mathfilters==0.4.0
enum34==1.1.6
idna==2.6
matplotlib==2.0.0
networkx==2.0
nltk==3.2.5
numpy==1.13.3
olefile==0.44
panda==0.3.1
pandas==0.19.2
Pillow==4.3.0
progressbar33==2.4
psycopg2==2.7.3.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.18.1
six==1.11.0
toolz==0.8.2
urllib3==1.22
